.td4 {
        text-align: center;
        border: 1px solid white;
          margin: 10px;
          background-color:green;
          color: white; }

.td5 {
    text-align: center;
        border: 1px solid white;
          margin: 10px;
          background-color:deeppink;
          color: white; }



