


li, th {
    text-size-adjust: 10px;
}

.td1{
  
  text-align: center;
    background-color: brown;
    color: white;
}

.td2{
  text-align: center;
  border: 1px solid white;
    margin: 10px;
    background-color:slateblue;
    color: white;
}








    


  
  




