li, th {
    text-size-adjust: 10px;
}


  
  li a:hover:not(.active) {
    background-color: #ffffff;
    color: #B30000;
  }
  
  
  .navbar {
    padding: 10px;
  border-top: 5px solid #B30000;
  border-bottom: 5px solid #B30000;
  }

footer {
    border-top: 1px solid #B30000;
    border-bottom: 1px solid #B30000;
    color: darkblue;
    }

.pFooter {
    text-align: center;
    color: black;
}

.aHeader {
  padding: 10px;
  text-decoration: none;
  color:grey;
}

.aHeader:hover {
color: darkred;
}




.div1 {
  margin: 10px;
  background-color: lightgray;
  width: 300px;
}

.div2 {
  padding: 10px;
  border: 10px solid lime;
}

.div3 {
  padding: 10px ;
  border: 20px solid white;
}

.div4 {
  padding: 10px;
  text-align: center;
  color: #009990;
}

.div5 {
  color: black;
}

