
li, th {
    text-size-adjust: 10px;
}


  
  li a:hover:not(.active) {
    background-color: #ffffff;
    color: #B30000;
  }
  
  
  .navbar {
  border-top: 5px solid #B30000;
  border-bottom: 5px solid #B30000;
  }

  .navbar2 {
    border-top: 5px solid #B30000;
    border-bottom: 5px solid #B30000;
    color: darkblue;
    }

.pFooter {
    text-align: center;
    color: black;
}

.aHeader {
  padding: 10px;
  text-decoration: none;
  color:grey;
}

.aHeader:hover {
color: darkred;
}

.pClass1 {
    color: blue;
}

.textCenter {
    text-align: center;
}

.pClass2 {
    text-decoration: overline;
}

.pClass3 {
    text-decoration: line-through;
}

.pClass4 {
    box-sizing: 3px;
}

.pClass5 {
    direction: rtl;
}

.pClass6 {
    text-shadow: 1px 1px;
}